.grid-container {
    /*display: grid;
    grid-template-columns: 1fr 1fr 1fr;*/
    width: 70%;
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 10px;
}

.load {
    font-family: 'Yusei Magic', sans-serif;
    color: white;
}

.btn {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.btn button {
    border: 1px solid rgba(205,193,127,255);
    padding: 5px;
    margin-right: 10px;
    border-radius: 5%;
    background:  rgba(205,193,127,255);
    color: #fff;
    font-size: 1em;
    font-family: 'Yusei Magic', sans-serif;
}

.btn button:hover {
    border: 1px solid  rgba(205,193,127,255);
    background-color: white;
    color:  rgba(205,193,127,255);
}